@page "/userslist"
@using WebApplicationStock.Client.Authentication;
@using WebApplicationStock.Shared;
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Http
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject IPersonService PersonService

<PageTitle>List of users</PageTitle>

<h1>List of users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in PersonService.Persons)
        {
            <tr>
                <td>@person.Username</td>
                <td>@person.Password</td>
                <td>@person.Role</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await PersonService.GetPersons();
    }
}